<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.arc.fna.testscripts.FNA_MyProfile</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyChangingOfPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyChangingOfCompanyName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyChangingOfUserID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifychangingofStateCountry</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyChangingOfemailandLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyChangingOfemail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateProjectRole</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyChangingOfPhnumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyOtherField</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyFillingOfData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>editingFillingOfData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.arc.fna.testscripts.FNA_Registration</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>activationOFFnAmarketing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registrationWithValidCred</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>activationOFFnA</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.arc.fna.testscripts.FNA_ComplexPassword</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>settingOfComplexPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>availabilityOfComplexPasswordSection</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
