<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FNA Regression Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85a3ee">  <td>18/05/07 16:16:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FNA_Registration.beforeTest(java.lang.String)[pri:0, instance:com.arc.fna.testscripts.FNA_Registration@1e965684]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="85a3ee">  <td>18/05/07 16:17:02</td>   <td>15504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_Registration.registrationWithValidCred()[pri:0, instance:com.arc.fna.testscripts.FNA_Registration@1e965684]">registrationWithValidCred</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="85a3ee">  <td>18/05/07 16:17:55</td>   <td>68502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FNA_Registration.beforeTest(java.lang.String)[pri:0, instance:com.arc.fna.testscripts.FNA_Registration@1e965684]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="85a3ee">  <td>18/05/07 16:18:09</td>   <td>81692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_Registration.activationOFFnA()[pri:0, instance:com.arc.fna.testscripts.FNA_Registration@1e965684]">activationOFFnA</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:19:51</td>   <td>183983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FNA_MyProfile.beforeTest(java.lang.String)[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:20:04</td>   <td>197437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_MyProfile.editingFillingOfData()[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">editingFillingOfData</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:22:22</td>   <td>334872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FNA_MyProfile.beforeTest(java.lang.String)[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:22:33</td>   <td>346156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_MyProfile.verifyFillingOfData()[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">verifyFillingOfData</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:26:58</td>   <td>610998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FNA_MyProfile.beforeTest(java.lang.String)[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:27:13</td>   <td>625914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_MyProfile.verifyChangingOfPassword()[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">verifyChangingOfPassword</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:31:34</td>   <td>887116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FNA_MyProfile.beforeTest(java.lang.String)[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:31:49</td>   <td>902049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_MyProfile.verifyChangingOfemail()[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">verifyChangingOfemail</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:36:12</td>   <td>1164917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FNA_MyProfile.beforeTest(java.lang.String)[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:36:15</td>   <td>1168663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_MyProfile.verifyChangingOfCompanyName()[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">verifyChangingOfCompanyName</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:36:15</td>   <td>1168667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_MyProfile.verifyChangingOfPhnumber()[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">verifyChangingOfPhnumber</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:36:15</td>   <td>1168672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_MyProfile.verifyChangingOfemailandLogin()[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">verifyChangingOfemailandLogin</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:36:15</td>   <td>1168676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_MyProfile.verifyChangingOfUserID()[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">verifyChangingOfUserID</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:36:15</td>   <td>1168680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_MyProfile.verifyOtherField()[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">verifyOtherField</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:36:15</td>   <td>1168683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_MyProfile.verifychangingofStateCountry()[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">verifychangingofStateCountry</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="76b367">  <td>18/05/07 16:36:16</td>   <td>1168689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_MyProfile.updateProjectRole()[pri:0, instance:com.arc.fna.testscripts.FNA_MyProfile@17d677df]">updateProjectRole</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="9a9d7d">  <td>18/05/07 16:36:16</td>   <td>1168773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FNA_ComplexPassword.beforeTest(java.lang.String)[pri:0, instance:com.arc.fna.testscripts.FNA_ComplexPassword@480bdb19]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="9a9d7d">  <td>18/05/07 16:36:19</td>   <td>1172591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_ComplexPassword.availabilityOfComplexPasswordSection()[pri:0, instance:com.arc.fna.testscripts.FNA_ComplexPassword@480bdb19]">availabilityOfComplexPasswordSection</td> 
  <td>main@1502635287</td>   <td></td> </tr>
<tr bgcolor="9a9d7d">  <td>18/05/07 16:36:19</td>   <td>1172597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNA_ComplexPassword.settingOfComplexPassword()[pri:0, instance:com.arc.fna.testscripts.FNA_ComplexPassword@480bdb19]">settingOfComplexPassword</td> 
  <td>main@1502635287</td>   <td></td> </tr>
</table>
