<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FNA Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66e5bd">  <td>17/12/08 15:51:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNAManageUserSuite1.chrome()[pri:0, instance:com.arc.fna.testscripts.FNAManageUserSuite1@7fac631b]">chrome</td> 
  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="66e5bd">  <td>17/12/08 15:51:27</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNAManageUserSuite1.verifyAppLaunch()[pri:0, instance:com.arc.fna.testscripts.FNAManageUserSuite1@7fac631b]">verifyAppLaunch</td> 
  <td>main@394714818</td>   <td></td> </tr>
</table>
